.App {
  margin: 0px;
  padding: 0px;
  width: 100vw;

}

.wrapper {
  border: 1px solid rgb(121, 165, 242);
  margin: 60px 5%;
  border-radius: 10px;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#profilenum {
  height: 80vh;
  background: rgb(2, 0, 36);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

#userinp {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  margin: 60px;
  padding: 70px;
  height: 27vh;
}

.remdet {
  margin-top: 15px;
}

.imguser {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  box-shadow: 1px 1px 20px #251187;
}

#pict:hover {
  box-shadow: 1px 1px 20px #2abcec;
}

.imguser {
  display: block;
  position: relative;
}

.btnsub {
  width: 100px;
  height: 36px;
  border-radius: 20px;
  border: none;
  background: rgb(168, 218, 252);
  background: radial-gradient(circle, rgba(168, 218, 252, 1) 19%, rgba(121, 171, 240, 1) 58%, rgba(122, 244, 228, 1) 96%);
  color: white;
  background-size: 400%;
  cursor: pointer;
  box-shadow: 2px 2px 20px rgb(168, 252, 226);
  animation: animate 8s linear infinite;
}

.btnsub::before {
  content: " ";
  background: rgb(168, 252, 226);
  background: radial-gradient(circle, rgba(168, 252, 226, 1) 19%, rgba(121, 240, 197, 1) 69%, rgba(122, 244, 148, 1) 96%);
  filter: blur(20px);
  z-index: -1;
  opacity: 0;
  transition: 0.5s;
}

.btnsub:hover {
  box-shadow: 2px 2px 30px rgb(122, 248, 231);
  background: rgb(196,168,252);
  background: radial-gradient(circle, rgba(196,168,252,1) 19%, rgba(121,197,240,1) 58%, rgba(122,239,244,1) 96%);
  animation: animate 8s linear infinite;
}
#num {
  border-radius: 7px;
  height: 25px;
  border: 1px solid rgb(134, 66, 228);;
  text-align: center;
  background-size: 400%;
  animation: animate 8s linear infinite;
}
#num:hover,
.wrapper:hover,.content:hover{
  border: 1px solid rgb(122, 248, 231);
  box-shadow: 1px 2px 7px rgb(134, 66, 228);
  animation: animate 8s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: 200%;
  }

  100% {
    background-position: 400%;
  }
}

#error {
  color: red;
}

#info {
  font-size: 17px;
  color: aliceblue;
}

#userdata {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: rgb(168, 221, 252);
  background: radial-gradient(circle, rgba(168, 221, 252, 1) 19%, rgba(121, 179, 240, 1) 69%, rgba(122, 159, 244, 1) 96%);
}

.loader {
  width: 100px;
  height: 100px;
  background-color: #2abcec;
  border-radius: 15px;
  animation: spinner 1s infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(60deg);
  }

  100% {
    transform: rotate(100deg);
  }
}

.head {
  text-decoration: underline;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#induser {
  color: #251187;
}
.box{
  position: relative;
  width: 250px;
  height: 250px;
  background-color: rgba(163, 209, 239, 0.5);
  border-radius: 50%;
  overflow: hidden;
}
.box::before{
  content: '';
  position: absolute;
  inset: -10px 90px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition: 0.5s;
  animation: imganimate 4s linear infinite;
}
.box:hover::before{
  inset: -20px 0px;
}
@keyframes imganimate{
0%{
  transform: rotate(0deg);
}
50%{
  transform: rotate(180deg);
}
100%{
  transform: rotate(360deg);
}
}
.box::after{
  content: '';
  position: absolute;
  inset: 6px;
  z-index: 1;
  border-radius: 50%;
  background-color: rgb(168, 221, 252);
}
.content{
  position: absolute;
  inset: 30px;
  border: 6px solid #dadded;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
}
#pict{
position: absolute;
top:0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
pointer-events: none;
}

.box:hover #pict{
  opacity: 0;
}
#imgname{
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (max-width:1106px) {
  #info {
    font-size: 13px;
  }

  #pict,
  .imguser {
    width: 120px;
    height: 120px;
    border-radius: 65px;
    box-shadow: 1px 1px 20px #251187;
  }
  #pict{
    width: 138px;
    height: 142px;
    border-radius: 46px;
  }
  .content{
    inset: 51px;
  }
  #error {
    font-size: 10px;
  }
}

@media only screen and (max-width:820px) {
  .wrapper {
    grid-template-columns: 0.5fr;
    border: none;
    margin: 0px;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
  }

  #userdata {
    grid-row: 2;
  }

  #profilenum,
  #userdata {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .wrapper:hover {
    box-shadow: none;
  }
}